<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moview - Watchlist</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <img src="static/mvlogo.png" alt="Moview Logo" width="90" height="70" class="logo">
                <h1>Moview</h1>
            </div>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="watchlist">Watchlist</a></li>
                <li><a href="profile">Profile</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="watchlist-section">
            <h2>Your Watchlist</h2>
            <div id="watchlist">
                <!-- Movies in the watchlist will be dynamically loaded here -->
            </div>
        </section>
    </main>

    <footer>
        <p>© 2025 Moview. All rights reserved.</p>
    </footer>

    <script src="js/watchlist.js"></script>
</body>
</html>
